p:empty {
    background-color: grey;
}

p:first-child, p:first-of-type {
    background-color: red;
}

p:last-child, p:last-of-type {
    background-color: purple;
}

:not(p) {
    background-color: olive;
}

p:nth-child(2), p:nth-of-type(2) {
    background-color: orange;
}

p:nth-last-child(2), p:nth-last-of-type(2) {
    background-color: blue;
}

input:checked, input:enabled, input:in-range, input:valid {
    color: green;
}
input:disabled, input:invalid, input:out-of-range {
    color: indianred;
}

input:focus {
    color: yellowgreen;
}

input:optional {
    color: orchid;
}

input:required, input:readonly {
    color: aqua;
}